<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import" data-toc-modified-id="Import-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import</a></span></li><li><span><a href="#Scrapping" data-toc-modified-id="Scrapping-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Scrapping</a></span></li></ul></div>

# Import

In [24]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

# Scrapping

In [25]:
imdb = requests.get("https://www.imdb.com/search/title/?groups=top_250&sort=user_rating&count=250",headers = {"Accept-Language": "en-US,en;q=0.5"})

In [3]:
soup = BeautifulSoup(imdb.text, 'html.parser')

In [4]:
# Get nmb film for this page
def get_nb_film():
    first_film = soup.find("div", {"class" : "desc"}).span.text[0:1]
    last_film  = soup.find("div", {"class" : "desc"}).span.text[2:5]
    first_film = int(first_film)
    last_film = int(last_film)
    return first_film, last_film

In [5]:
get_nb_film()

(1, 250)

In [22]:
# Get movie - duration - year - genre
movie = []
duration = []
year = []
genre = []

for film in range (get_nb_film()[0]-1, get_nb_film()[1]):
    movie.append(soup.find_all('div', {'class' : 'lister-item-content'})[film].a.text)
    duration.append(soup.find_all('span', {'class' : 'runtime'})[film].text.split()[0])
    year.append(soup.find_all("span",{"class":"lister-item-year text-muted unbold"})[film].text.split()[-1][1:5])
    genre.append(soup.find_all('span', {'class' : 'genre'})[film].text.strip())

In [26]:
df = pd.DataFrame({"movie":movie,"duration":duration,"year":year,"genre":genre})

In [27]:
# Supprimer "min" et "()"
df["duration"] = df["duration"].str[:3].astype(int)

In [22]:
df.to_csv("imdb_database.csv", index=False)

In [28]:
df

                            movie  duration  year                      genre
0        The Shawshank Redemption       142  1994                      Drama
1                   The Godfather       175  1972               Crime, Drama
2                 The Dark Knight       152  2008       Action, Crime, Drama
3          The Godfather: Part II       202  1974               Crime, Drama
4                    12 Angry Men        96  1957               Crime, Drama
..                            ...       ...   ...                        ...
245  Mr. Smith Goes to Washington       129  1939              Comedy, Drama
246            Gone with the Wind       238  1939    Drama, History, Romance
247         It Happened One Night       105  1934            Comedy, Romance
248    The Passion of Joan of Arc       114  1928  Biography, Drama, History
249                   The General        67  1926  Action, Adventure, Comedy

[250 rows x 4 columns]